<!-- <table class="table table-striped table-dark" border="1" id="table">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let objArticulos of articulos">
        <td>{{ objArticulos.codigo }}</td>
        <td>{{ objArticulos.descripcion }}</td>
        <td>{{ objArticulos.precio }}$</td>
        <td> <button class="btn btn-danger" (click)="borrar(objArticulos)">Borrar ?</button> </td>
        <td> <button class="btn btn-info" (click)="seleccionarArticulo(objArticulos)">Seleccionar</button> </td>
      </tr>
    </tbody> -->
<!-- </table> -->