<body>
    <table class="container">
        <thead>
            <tr>
                <th><h1>Videojuego</h1></th>
                <th><h1>Fecha de salida</h1></th>
                <th><h1>Tipo</h1></th>
                <th><h1>Precio</h1></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Minecraft</td>
                <td>2008</td>
                <td>Mundo Abierto, Supervivencia</td>
                <td>$499</td>
            </tr>
            <tr>
                <td>Fate</td>
                <td>1910</td>
                <td>Pal Kevin</td>
                <td>Muy caro</td>
            </tr>
            <tr>
                <td>The Last of Us</td>
                <td>2023</td>
                <td>Pa la pc del Chingoneitor</td>
                <td>Pivigames</td>
            </tr>
        <tr>
                <td>Fortnite</td>
                <td>2017</td>
                <td>Survival, Battleroyale</td>
                <td>Gratis</td>
            </tr>    
        </tbody>
    </table>
    </body>